/*
 * Skin: green
 * ----------
 */
.search {
  position: relative;
}
.search .input-search:focus,
.search .input-search:hover {
  border-color: #008a17;
}
.search .searchIcon:hover {
  color: #008a17;
}
.devider {
  background-color: #008a17;
}
.btn-theme {
  color: #ffffff;
  background-color: #008a17;
  border-color: #007113;
}
.btn-theme:focus,
.btn-theme.focus {
  color: #ffffff;
  background-color: #00570f;
  border-color: #000000;
}
.btn-theme:hover {
  color: #ffffff;
  background-color: #00570f;
  border-color: #003309;
}
.btn-theme:active,
.btn-theme.active,
.open > .dropdown-toggle.btn-theme {
  color: #ffffff;
  background-color: #00570f;
  border-color: #003309;
}
.btn-theme:active:hover,
.btn-theme.active:hover,
.open > .dropdown-toggle.btn-theme:hover,
.btn-theme:active:focus,
.btn-theme.active:focus,
.open > .dropdown-toggle.btn-theme:focus,
.btn-theme:active.focus,
.btn-theme.active.focus,
.open > .dropdown-toggle.btn-theme.focus {
  color: #ffffff;
  background-color: #003309;
  border-color: #000000;
}
.btn-theme:active,
.btn-theme.active,
.open > .dropdown-toggle.btn-theme {
  background-image: none;
}
.btn-theme.disabled,
.btn-theme[disabled],
fieldset[disabled] .btn-theme,
.btn-theme.disabled:hover,
.btn-theme[disabled]:hover,
fieldset[disabled] .btn-theme:hover,
.btn-theme.disabled:focus,
.btn-theme[disabled]:focus,
fieldset[disabled] .btn-theme:focus,
.btn-theme.disabled.focus,
.btn-theme[disabled].focus,
fieldset[disabled] .btn-theme.focus,
.btn-theme.disabled:active,
.btn-theme[disabled]:active,
fieldset[disabled] .btn-theme:active,
.btn-theme.disabled.active,
.btn-theme[disabled].active,
fieldset[disabled] .btn-theme.active {
  background-color: #008a17;
  border-color: #007113;
}
.btn-theme .badge {
  color: #008a17;
  background-color: #ffffff;
}
.grid .k-pager-wrap .k-pager-numbers .k-state-selected {
  color: #008a17;
}
.main-header .logo {
  background-color: #003d0a;
}
.main-header .navbar {
  background-color: #008a17;
}
.main-header .navbar .header-menu a:hover {
  background: #007113;
}
.navbar .menu .k-state-active {
  background-color: #007113;
}
.navbar .menu .k-group {
  border-color: #008a17;
}
.navbar .menu .k-first .k-state-active .k-icon {
  color: #007113;
}
.navbar .menu .k-first .k-icon {
  color: #008a17;
}
.navbar .menu .k-first .k-icon:hover {
  color: #007113;
}
.navbar .menu a:hover .k-icon {
  color: #007113;
}
.grid .text-unread {
  color: #008a17;
  font-weight: bold;
}
.grid .text-unread:hover {
  color: #00bd20;
}
.grid td a:hover {
  color: #00bd20;
}
.slender-tabstrip .k-tabstrip-items .k-item.k-state-active {
  border-bottom: 5px solid #008a17;
}
.dragbox-column .dragbox .dragbox-heading {
  border-top-color: #008a17;
}
.dragbox-column .dragbox .dragbox-heading a:hover {
  color: #008a17;
}
.sidebar-menu .treeview.active > a {
  color: #008a17;
  border-left: 5px solid #008a17;
}
.msgCenter .anchor {
  border: 1px solid #828585;
}
.msgCenter .anchor a:hover,
.msgCenter .anchor a.active {
  color: #008a17;
}
.tabsite li .tab-close:hover {
  color: #008a17;
}
